<div class="container-fluid about">
  <div class="row content">
    <div class="col-md-12 section-title">
      <h2>¿Qué es esto?</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 hero-text">
      <h3 class="txt-big">Registre su bicicleta, únase a nuestra comunidad y denuncie locales. Juntos ayudaremos a detener el comercio de bicicletas robadas.</h3>
      <%= link_to 'quiero ayudar', new_user_registration_path, :class => 'btn' %>
    </div>
  </div>
  <!--/.content -->
</div>
<!--/.container -->